*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(66, 64, 214);
    padding: 90px;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.menu li a:hover{
    color: black;
    transition: 0,8s;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: end;
}

/*SECTION*/

#sesao{
    background-color: aqua;
    padding: 200px;
}

h2{
    font-size: 40px;
}
#sesao p {
    font-size: 30px;
}

/*botao*/

.botao{
    margin-top: 15px;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px;
}
.botao a{
    text-decoration: none;
    color: blue;
}

/*sesao 2*/
.esq{
    font-size: 45px;
}
.esq a{
    text-decoration: none;
    color: aqua;
    background-color: rgb(185, 104, 104);
    padding: 13px;
    border-radius: 20px;
}

#sesao2{
    display: flex;
    padding: 250px;
    text-align: center;
}

/*sesao 3*/
.educa{
    text-align: center;
}




