/*Configuração Padrão de início*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Chamamos o body para limitar o tamanho da altura e tamanho da página*/
body {
    height: 100vh;
    width: 100vw;
}

header { /*Chamamos nosso Header para estilização*/ 
    background-color: rgb(78, 135, 168); /*Cor de fundo*/
    padding: 10vh; /*ajustamos o tamanho do preenchimento   --  podemos usar 70px*/
}

.menu-header { /*Aqui é onde estão armazenados nossas listas do Header*/
    display: flex; /*Usamos para jogar os itens lado a lado*/
    justify-content: end; /*Aqui justificamos os itens desta lista para  o fim do Header*/
    flex-wrap: wrap; /*Usado para informar que os itens podem quebrar em telas menores*/
}

.menu-header > li > a { /*Aqui sabemos que dentro da nossa LI existe uma TAG de Link "a" */
   color: white; /*Cor da letra*/
   text-decoration: none; /*Desabilitando a decoração dos textos de Link*/
   font-size: 1rem; /*Tamanho da letra*/
}

.menu-header > li > a:hover { /*Efeito ao passar o cursor*/
    color: rgb(81, 81, 228); /*Habilitando uma cor ao passar o mouse*/
    transition: 0.8s; /*Adicionamos aqui uma transição*/
}
.menu-header > li { /*Chamamos nossas Li diretamente para espaça-las*/
    margin-left: 20px; /*Margem a esquerda para espaçamento*/
}


#sessao { /*Aqui chamamos nosso primeiro ID para estilização*/
    padding: 30vh; /*Atribuimos um tamanho de preenchimento  -- podemos usar 200px*/
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%); /*Uma cor com Degradê*/
    flex-wrap: wrap; /*Usado para informar que os itens podem quebrar em telas menores*/
}


#sessao > h1 { /*Alterando nosso Título*/
    font-size: 45px; /*Tamanho da letra*/
    color: rgba(0, 0, 0, 0.712); /*Cor da letra */
}

#sessao > p { /*Alterando nosso Paragráfo dentro da nossa primeira ID*/
   font-size: 40px; /*Tamanho da letra*/
}

#sessao a{ /*Chamamos nosso Button que está dentro dessa primeira sessão*/
    padding: 20px; /*Tamanho do preenchimento interno do botão*/
    border-radius: 50px; /*Borda arredondada do botão*/
    width: 1vw; /*Tamanho lateral do botão (largura) ----  podemos usar 300px*/
    cursor: pointer;
    border-color: rgb(19, 153, 108); /*Cor da borda*/
    margin: 30px; /*Margem em volta do Button*/
    
}

#sessao a button{
    padding: 17px;
    border-radius: 30px;
    margin-top: 8px;
    background-color: cadetblue;
    border-color: white;
}

#sessao a{
    font-size: 8px;
}
#sessao button:hover{
    background-color: aqua;
    transition: 0.8s;
    cursor: pointer;
    color: white;
}

#app { /*Aqui chamamos nosso segundo ID da página*/
    padding: 30vh; /*Atribuimos um tamanho para o preenchimento --  podemos usar 170px*/
    background-color: rgb(226, 233, 233); /*cor de fundo*/
    display: flex;
    justify-content: space-around;
}


#app > div > button { /*Aqui chamamos nosso botão para estilização*/
    padding: 20px; /*Preenchimento do nosso botão*/
    border-radius: 50px; /*Arredondamento da borda do botão*/
    width: 15vw; /*Tamanho lateral do botão (largura) ----  podemos usar 300px*/
    color: rgb(19, 153, 108); /*Aqui atribuimos uma cor a letra do botão*/
    border-color: rgb(19, 153, 108); /*Cor da borda*/
    margin: 30px; /*Margem em volta do Button*/
    font-size: 15px; /*Tamanho da letra dentro do Button*/
    cursor: pointer;
}


#app > div > p{ /*Chamamos nosso Parágrafo para estilização*/
    font-size: 43px; /*Alteração do tamanho da letra*/
}

#app > div button:hover{ /*Aqui chamamos nosso botão para estilização ao passar o Cursor*/
    background-color: rgb(90, 168, 168); /*A cor de fundo mudará para esta*/
    transition: 0.8s;
    border-color: white; /*Cor da borda*/
    
}

#app div button a {
    text-decoration: none;
    color: rgb(19, 153, 108); /*Cor da letra*/
    font-size: 15px; /*Tamanho da letra dentro do button*/
}

#app div button a:hover {
    color: white; /*Cor da letra*/
    transition: 0.8s;
}



#app > div img { /*Imagem que está dentro da nossa segunda Section*/
    width: 30vw; /*Lagura da nossa img*/
    height: 60vh; /*Altura da nossa img*/
    margin-left: 50px; /*Margem a Esquerda*/
    margin-top: -70px; /*Margem a Direita*/
}





#container { /*Aqui chamamos nossa terceira section da página*/
    padding: 30vh; /*Atribuimos um preenchimento*/
    background-color: rgb(226, 233, 233); /*Cor de fundo*/
    flex-wrap: wrap; /*Usado para informar que os itens podem quebrar em telas menores*/
}

#container h2 { /*Chamamos nosso H2 para estilização*/
    font-size: 40px; /*Tamanho da letra*/
    margin-top: -20rem; /*Margem superior*/
    color: rgb(34, 34, 74); /*Cor da letra*/
    text-align: center; /*Alinhamento do texto ao centro*/
}

#container p { /*Chamamos nosso Parágrafo para estilização*/
    font-size: 20px; /*Tamanho da letra*/
    margin-top: 30px; /*Margem superior*/
    color: rgba(0, 0, 0, 0.564); /*Cor da letra*/
    text-align: justify; /*Aqui justificamos o texto*/
}

#container .text1 { 
    text-align: center; 
}

#container button { 
    padding: 20px;
    width: 15vw; 
    color: rgb(50, 50, 226);
    border-color: rgb(50, 50, 226); 
    margin: 60px; 
    font-size: 15px; 
    
}


#container button a {
    color: blue;
    text-decoration: none;
}

#container button a:hover{
    color: white;
    transition: 0.8s;
}

#container button:hover { 
    background-color: rgb(50, 50, 226); 
    color: white; 
    border-color: black; 
    transition: 0.7s;
    cursor: pointer;
}
.line { 
    margin: 0 auto;
    width: 70%; 
}

#container img { 
    margin-left: 10vw; 
    margin-top: 4rem;
    width: 50vw; 
}

#container-cofre { 
   background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(https://www.qsbank.com.br/wp-content/uploads/2022/02/texture4-1.jpg); 
   padding: 10%; 
   display: flex;
   align-items: center;
}


#container-cofre img { 
    width: 25vw; 
    margin-top: 10rem; 
    height: auto;
    flex-wrap: wrap; 
}

#container-cofre h2 { 
    
    color: white;
    font-size: 30px; 
    text-align: center;
}

#container-cofre p { 
    font-size: 17px; 
    text-align: center;
    margin-top: 2rem; 
   
}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.829);
    padding: 3rem;
    
}


footer img{
   width: 20rem;
   padding: 20px;
   margin-top: -25px;
}

.footer-div{
    display: flex;
    justify-content: space-between;
}


.footer-div p{
    font-size: 15px;
}

footer div a{
    text-decoration: none;
    color: white;    
}

footer div a:hover{
    color: purple;
    transition: 0.8s;
}

/* responsividade (dimenção da tela como celulares */


@media screen and (max-width: 1366px){
    header{
        padding: 6rem;
    }
    #sessao{
        padding: 14vh;
    }
    #app{
        padding: 14vh;
    }
    #app div img{
        height: 25vh;
        width: 20vh;
    }
    #container{
        padding: 15vh;
    }
    #container button{
        padding: 15px;
        width: 13vw;
    }
    .line{
        margin-top: 1.5rem;
    }
    #container img{
        margin-left: 5vw;
        width: 45vw;
    }
    #container-cofre{
        padding: 7.5%;
    }
    #container-cofre img{
        width: 22vw;
    }
    .esq{
        margin-left: 5rem;
    }
}






@media screen and (max-width: 1920px){
    

}
@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){

}
@media screen and (max-width: 480px){

}