*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: rgb(66, 64, 214);
    padding: 90px;
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.menu li a:hover{
    color: black;
    transition: 0,8s;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: end;
}

/*SECTION*/

#sesao{
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
    padding: 30vh;
    flex-wrap: wrap;
}

h2{
    font-size: 3em
}
#sesao p {
    font-size: 2em
}

/*botao*/

.botao{
    padding: 22px;
    border-radius: 50px;
    border-color: rgb(19, 153, 108);
    width: 20em;
    cursor: pointer;
}
.botao a{
    text-decoration: none;
    color: rgb(19, 153, 108)
}

/*sesao 2*/

#sesao2{
    padding: 25rem;
    background-color: rgb(223, 233, 233);
    display: flex;
    justify-content: space-around;
}
 image{
    width: 25rem ;
    height: 25rem ;
    margin-left: 50px;
    margin-top: -70px;
 }

 div p {
    font-size: 2.8em;
    margin-bottom: 20px;
 }

 #conteiner{
    padding: 10rem;

 }

 #conteiner h2{
    font-size: 40px;
    text-align: center;
    color: rgba(7, 7, 99, 0.697);
    margin-top: -20rem;
    margin-bottom: 2rem;
 }

 #conteiner p{
    font-size: 1.8rem;
    color: rgba (34 , 34, 74,);
    margin-top: 30px;
    text-align: justify;
 }

.line{
    width: 70%;
    margin: 0 auto;
}

#conteiner img{
    width: 45rem;
    margin-left: 50px;
}

#conteiner-cofre{
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(imagens/img\ cofre\ fundo.jpg);

}

